/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End of reset*/

/*Clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*General Styles*/

p {

  font-family: 'Lato', sans-serif;

}

li {

  display: inline-block;

}

h3 {

  font-family: 'Oswald', sans-serif;
  font-size: 21px;

}


/*End of General Styles*/

/*Specific Styles*/

header {

  background-image: url('/images/header_bg.svg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;

}

header > img {

 display: block;
 margin: auto;

}

header > p#plus {

  border: 1px solid #EE6D43;
  font-size: 30px;
  color: #A62F1D;
  padding: 0px 6px;
  width: 18px;
  position: absolute;
  top: 16px;
  right: 16px;

}

nav {

  text-align: center;
  background-color: #3A3A3C;
  padding: 12px 0px;

}  
    
nav > ul > li {

  color: #78797C;
  font-family: 'Oswald', sans-serif;
  margin: 0px 2px;
  text-transform: uppercase;

}

#main_content {

  background-image: url('/images/bg.jpg');
  background-size: cover;
  padding: 30px 0px;

}

#main_content > .content_box {

  background-color: #fff;
  display: block;
  width: 625px; 
  margin: 10px auto;

}

#main_content > div.content_box > img.thumbnail {

  display: inline-block;
  width: 150px;
  float: left;
  margin: 13px;
  box-sizing: border-box;

}


#main_content > div.content_box > div.content_text {

  display: inline-block;
  width: 68%;
  margin: 13px 3% 13px 0px;
  float: right;
  box-sizing: border-box;

}

#main_content > div.content_box > div.content_text > h3.title {

  color: #3A3A3C;
  margin-bottom: 10px;

}

#main_content > div.content_box li {

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #818285;

}

#main_content > div.content_box > div.content_text > p.description {

  margin-top: 14px;
  color: #3A3A3C;
  font-size: 15px;

}

footer {
  
  background-color: #3A3A3C;
  text-align: center;
  padding: 13px 0px;

}

footer > img.social_media {
  
  margin: 0px 5px;

}

/*End of Specific Styles*/


/*Media Queries*/

/* MOBILE ONLY */
@media only screen and (max-width: 480px){



}
    
/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 768px){


}

/* DESKTOP ONLY */
@media only screen and (min-width: 769px){




}

*/